.rounded-button {
    display: block;
    background-color: transparent;
    font-size: 100px;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    width: 150px;
    height: 40px;
    margin-left: 30px;
    font-family: 'Roboto', "sans-serif";
    margin-bottom: 30px;
  }